# Código principal
*.java linguist-language=Java
*.kt linguist-language=Java

# Ignorar todos HTML/XML
*.xml linguist-vendored
*.html linguist-vendored
*.htm linguist-vendored

# Gradle e IDE
*.gradle linguist-vendored
gradle-wrapper.jar linguist-vendored
gradlew linguist-vendored
gradlew.bat linguist-vendored
local.properties linguist-vendored
.gradle/** linguist-vendored
.idea/** linguist-vendored
*.iml linguist-vendored

# Binários e imagens
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.webp linguist-vendored
*.gif linguist-vendored
*.ico linguist-vendored
*.ttf linguist-vendored
*.otf linguist-vendored
*.so linguist-vendored
*.jar linguist-vendored
*.keystore linguist-vendored
*.jks linguist-vendored
*.dex linguist-vendored
*.apk linguist-vendored
*.aab linguist-vendored
